* {
  font-family: 'Merriweather', serif;
}

table {
  width: 100%;
  height: 100%;
}

td {
  text-align: center;
  height: 14.8571% !important;
}

button {
  padding: 5px;
  background-color: white;
  border: none;
  cursor: pointer;
  transition: background-color .20s ease-out;
}

td > button {
  width: 100%;
  height: 100%;
  font-size: calc(16px + 1vw);
}

td > button:active {
  background-color: orange;
  padding: 5px;
}

td > button:hover {
  background-color: bisque;
}

td > button:focus {
  background-color: orange;
  outline: none;
  border: none;
}

.calendario {
  width: 1200px;
  height: 1200px;
}

.dia_mes_actual {
  text-align: center;
}

.dia_mes_diferente {
  text-align: center;
  color: lightgrey;
}

.boton {
  display: inline-block;
}

.dia_semana {
  font-weight: 900;
  font-size: calc(11px + 1vw);
}

.hoy {
  color: bisque;
}

#nombre_mes {
  display: inline-block;
}

/* TABLA MEDIA QUERIES */

@media (min-width: 576px) {
  #calendario_dias {
    width: 576px;
    height: 576px;
  }
}

@media (min-width: 768px) {
  #calendario_dias {
    width: 768px;
    height: 768px;
  }
}

@media (min-width: 992px) {
  #calendario_dias {
    width: 992px;
    height: 992px;
  }
}

@media (min-width: 1200px) {
  #calendario_dias {
    width: 800px;
    height: 800px;
  }
}